  {%- extends "layout.jinja2" -%}
{%- from "_formhelpers.jinja2" import render_field, render_hidden, render_submit, submit_confirmation_popover, render_one_button_form, activate_button, deactivate_button with context -%}
{%- from "_elements.jinja2" import profile_top_bar, profile_nav_item with context -%}

{%- block navbar -%}
  {%- call profile_top_bar(profile) -%}
    <li class="nav-item">
      <a class="" href="/profile/{{profile.id}}/edit">
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fas fa-cog mr-2"></i>Settings
        </button>
      </a>
    </li>
  {%- endcall -%}
{%- endblock -%}

{%- block mobi_menu_navbar_small_info -%}
  {{ profile_nav_item(profile) }}
{%- endblock -%}

{%- block content -%}
<div class="card my-3">
  <div class="card-header unique-color-dark white-text">
    <i class="fas fa-cube mr-3"></i>Create new session
  </div>
  <div class="card-body">
    <form method="post" action="/session/add">
      {{ session_add_form.csrf_token }}
      {{ render_field(session_add_form.profile_id) }}

      <div class="row">
        <div class="col-sm-9 small-margins">
          {{ render_field(session_add_form.name, 'Session name') }}
        </div>
        <div class="col-sm-3">
          <button type="submit" role="button" class="btn btn-primary">
            <i class="fas fa-check mr-3"></i>Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card my-3">
  <div class="card-header unique-color-dark white-text">
    <div class="row">
      <div class="col-7">
        <i class="fas fa-cubes mr-3"></i>Existing sessions
      </div>
      <div class="col-5">
        {%- if sessions -%}
        <div class="float-right">
          {{ render_one_button_form(form=action_all_sessions_for_profile, action='/profile/{}/all-sessions/start'.format(profile.id), double_check=true, button_text='Run all', button_class='btn-success', icon='play') }}
          {{ render_one_button_form(form=action_all_sessions_for_profile, action='/profile/{}/all-sessions/stop'.format(profile.id), double_check=true, button_text='Stop all', button_class='danger-color-dark', icon='stop') }}
          {{ render_one_button_form(form=action_all_sessions_for_profile, action='/profile/{}/all-sessions/restart'.format(profile.id), double_check=true, button_text='Restart all', button_class='primary-color-dark', icon='redo-alt') }}
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="card-body p-2">

<div class="table-responsive">
  <table class="table table-striped table-hover js-data-table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Status</th>
        <th class="th-sm">Name</th>
        <th class="th-sm">Actions</th>
      </tr>
    </thead>
    <tbody>
      {%- for session in sessions -%}
        {%- set running = SessionService.is_session_running(session.id) -%}
        <tr>
          <td>
            <h6>
            {%- if running -%}
              <span class="badge badge-pill badge-success badge-align-middle">Running</span>
            {%- else -%}
              <span class="badge badge-pill badge-light badge-align-middle">Stopped</span>
            {%- endif -%}
            </h6>
          </td>
          <td>
            <h6>
              <a class="" href="/session/{{session.id}}/settings">
                <button type="button" class="btn btn-outline-primary btn-rounded btn-sm">
                  <i class="fas fa-cube mr-2"></i>{{ session.name }}
                </button>
              </a>
            </h6>
          </td>
          <td>
            {%- if running -%}
              {{ render_one_button_form(form=session_stop_form, action='/session/{}/stop'.format(session.id), double_check=true, button_text='Stop', button_class='btn-dark', icon='stop') }}
            {%- else -%}
              {{ render_one_button_form(form=session_start_form, action='/session/{}/start'.format(session.id), double_check=true, button_text='Run', button_class='btn-success', icon='play') }}
            {%- endif -%}
            <a class="" href="/session/{{session.id}}/settings">
              <button type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-edit mr-2"></i>Edit
              </button>
            </a>
            {{ render_one_button_form(form=session_duplicate_form, action='/session/{}/duplicate'.format(session.id), button_text='Duplicate', button_class='default-color-dark', icon='clone') }}
            {{ deactivate_button(form=session_deactivate_form, action='/session/{}/deactivate'.format(session.id)) }}
          </td>
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
</div>

  </div> {# card-body #}
</div> {# card #}

{% if deactivated_sessions %}
  <div class="card">
    <div class="card-header">
      <i class="fas fa- mr-3"></i>Deactivated sessions
    </div>
    <div class="card-body p-1">

<div class="table-responsive">
  <table class="table table-striped table-hover js-data-table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Status</th>
        <th class="th-sm">Name</th>
        <th class="th-sm">Actions</th>
      </tr>
    </thead>
    <tbody>
      {%- for session in deactivated_sessions -%}
        <tr>
          <td>
            <h6><span class="badge badge-pill badge-dark">Deactivated</span></h6>
          </td>
          <td>
            <a class="" href="/session/{{session.id}}/settings">
              <button type="button" class="btn btn-outline-primary btn-rounded btn-sm">
                <i class="fas fa-cube mr-2"></i>{{ session.name }}</a>
              </button>
          </td>
          <td>
            <a class="" href="/session/{{session.id}}/settings">
              <button type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-edit mr-2"></i>Edit
              </button>
            </a>
            {{ activate_button(form=session_activate_form, action='/session/{}/activate'.format(session.id)) }}
          </td>
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
</div>
    </div> {# card-body #}
  </div> {# card #}
{% endif %}


{%- endblock -%}