{%- extends "proxy_edit.jinja2" -%}

{% block navbar %}
  <li class="nav-item">
    <a class="" href="" target="_blank">
      <button type="button" class="btn btn-sm btn-primary">
        <i class="fas fa-plug mr-1"></i> Buy proxy - comming soon
      </button>
    </a>
  </li>
{% endblock %}


{%- block mobi_menu_navbar_small_info -%}
  <li class="nav-item">
    ADD PROXY
  </li>
{%- endblock -%}
